@media screen and (max-width: 1400px){
#profile{
    height: 83vh;
    margin-bottom: 6rem;
}
.about-containers{
    flex-wrap:wrap;
}
}



@media screen and (max-width: 1200px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav {
        display:flex;
    }
    #experience, .experience-details-container {
        margin-top: 2rem;
    }
    #profile, .section-container {
        display: block;
    }
    .arrow{
        display: none;
    }
    section, .section-container{
        height:fit-content
    }
    section {
        margin: 0.5%;
    }
    .section__pic-container{
        width: 275px;
        height: 275px;margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;

    }
}


@media screen and (max-width: 600px){

#contact, footer{
    height: 40vh;
}
#profile{
    height: 83vh;
    margin-bottom: 0;
}
article{
    font-size: 1rem;

}
footer nav{
    height: fit-content;
    margin-bottom: 2rem;
}

.about-containers, .contact-info-upper-container, .btn-container{
    flex-wrap: wrap;
}

.contact-info-container{
    margin: 0;

}

.contact-info-container p, .nav-links li a{
    font-size: 1rem;
} 

.experience-sub-title{
    font-size: 1.25rem;
}
.logo{
    font-size: 1.5rem;

}
.nav-links{
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
}
.section__pic-container{
    width: auto;
    height: 46vw;
    justify-content: center;
}
.section__text__p2{
    font-size: 1.25rem;
}
.title{
    font-size: 2rem;
}
.text-container{
    text-align: justify;
}
}


  @media screen and (max-width: 600px) {
    body {
        font-size: 16px; /* Adjust font size for smaller screens */
    }
    /* Adjustments for About and Skill sections */
    #about {
        margin: 1rem; /* Add margin to the about section */
    }

    .about-containers {
        flex-direction: column; /* Stack containers in a column */
        align-items: center; /* Center align containers */
    }

    .details-container {
        width: 100%; /* Make details containers full width */
        max-width: 270px; /* Set a maximum width for better readability on smaller screens */
        margin: 0 auto; /* Center the container */
    }

    #skillset {
        margin: 1rem; /* Add margin to the skillset section */
    }

    .experience-details-container {
        flex-direction: column; /* Stack skillset containers in a column */
        align-items: center; /* Center align skillset containers */
    }


    .about-pic {
        width: 100%; /* Make the image fill the container width */
        height: auto; /* Maintain aspect ratio */
        border-radius: 1rem; /* Optionally, add border-radius for a rounded appearance */
        max-width: 210px;
        border-radius: 50%;
    }
}
